@import "tailwindcss";
@plugin "daisyui";

li{
    list-style: square;
}

li{
    font-size: 20px;
    font-weight: 400;
}

li::marker{
    color:#E11D48;
}


html,body{
    scroll-behavior: smooth;
}
